.buckets-header,
.files-header,
.profile-header,
.bucket-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.buckets-header,
.files-header,
.profile-header {
    margin-top: 5%;
}

.buckets-wrapper,
.files-wrapper,
.profile-wrapper {
    width: 100%;
    height: 100%;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.buckets-list-wrapper,
.files-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.profile-form-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.table-wrapper {
    /* background-color: aquamarine; */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
}