.dashboard-header {
	display: flex;
	justify-content: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.dashboard-wrapper {
	width: 100%;
	/* height: 90%; */
	/* margin-top: 10%; */
}

.dashboard-list-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.datausage-graph {
	height: 200px;
	width: 501px;
	margin-left: 38%;
	margin-top: 7%;
}