.App {
  text-align: center;
  margin: 0px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 5%;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #282c34;
}

.landing-page-wrapper .banner-heading {
  font-size: 5rem;
  color: #ffffff;
  animation: slide 1s;
  animation-fill-mode: forwards;
}

.landing-page-wrapper h2 {
  opacity: 0%;
  animation: slide 5s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    opacity: 0%;
    transform: translateX(0);
  }

  100% {
    opacity: 100%;
    transform: translateX(80px)
  }


}

.banner-heading {
  font-size: 5rem
}

.display-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 98%;
  padding: 20px 1%;
  box-shadow: 0px 10px 4px rgb(230, 216, 216);
  background-image: linear-gradient(rgb(53, 53, 51), rgb(1, 1, 1));

}

.button {
  height: 40px;
  max-width: auto;
  width: auto;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.button:hover {
  /* background-color: #70A1EB; */
  background-color: #FFD817;
  color: #020202;
  cursor: pointer;
}

.starter-buttons {
  display: flex;
  /* justify-content: space-between; */
  width: 15%;
  align-items: center;
}

.starter-buttons button {
  margin-left: 1rem;
}

.left-panel-wrapper {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-height: 100vh;
  background-color: #70A1EB;
  height: 100%;
}

.nav-buttons-wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.nav-buttons-wrapper button {
  margin-bottom: 10px;
  width: 100%;
}

.nav-button {
  padding: 10px;
  width: 100%;
}

.stage-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100vh;
  background-color: alicebl ue
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.MuiTableCell-root>a {
  text-decoration: none;
  color: #000000;
}

.MuiTableCell-root:hover {
  color: #0086e0;
  font-weight: 600;
  /* background-color: aliceblue; */
}


.MuiTableBody-root>.MuiTableRow-root:hover {
  background-color: aliceblue;
  cursor: pointer;
}